{% load static %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/walmart/static/style.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Search Box</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <!-- Coded with love by Mutiullah Samim-->
  <script>




  </script>
  <body><form action="{% url 'index:index' %}" method="GET" >
  <div class="row" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="searchbar">


          <input class="search_input" type="text" name="search" id="search" placeholder="Buscar Producto Walmart...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          {% csrf_token %}

        </div>
      </div> </div></div></form>
        <div id="products" style="margin-top: 50px;">
           <div class="row">
{% for product in product_list %}

    <div class="col-md-3">
              <figure class="card card-product">
                  <div class="img-wrap"><img src="http://{{product.image}}"></div>
                  <figcaption class="info-wrap">
                        <p class="desc" style="text-align: center">{{product.brand}}</p>
                          <p class="desc" style="text-align: center">{{product.description}}</p>
                  </figcaption>
                <div class="bottom-wrap">
                    <div class="price-wrap h5" style="text-align: center">

                      {% if palindrome == True %}
                          {% if product.discount %} Precio Oferta: {% endif %} <span class="price-new" style="color:darkred">{{product.discount}}</span>
                          {% if product.discount %} <del class="price-old">{{product.price}}</del>
                          {% else %} <span class="price-old">{{product.price}}</span> {% endif %}
                      {% else %}
                          <span class="price-new" style="color:black">{{product.price}}</span>
                      {% endif %}

                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
          </div> <!-- col // -->
{% empty %}
               <div class="col-md-12" style="text-align:center">Nothing found</div>
{% endfor %}



        </div>
      </div>
    </div>
  </body>

</html>
{% endblock %}